extends layout
block content
    div.row
        form.col.s12
            div(ng-if="serverErrorMessage").row
                span(ng-bind="serverErrorMessage")
            div.row
                div.input-field.col.s10
                    input(type="text" ng-model="domainName" ng-keyup="$event.keyCode == 13 && getDomains()")#search.validate
                    label(for="search") Put domain name without tld
                div.col.s2
                    button(type="submit" ng-click="getDomains()" ng-disabled="domainName===''").btn.btn-large.waves-effect.waves-light Search
                        i.material-icons.right
                            |search
            div(ng-if="showDomainList===true").row
                ul(style='margin-bottom:50px').collection
                    li(ng-repeat="(key, value) in domainsResult").collection-item   {{key + ', status:' + value.result}}






